{% extends 'base.html' %}
{% block title %}Dashboard - CloudStaffSync{% endblock %}
{% block content %}
<div class="dashboard-container" style="display: flex; flex-direction: column; align-items: center; padding: 20px;">

    <div style="width: 100%; display: flex; justify-content: flex-end;">
        <a href="{% url 'logout' %}" class="btn btn-danger" style="padding: 10px 20px;">Logout</a>
    </div>

    <h2 class="welcome-text">Welcome to management dashboard...!</h2>
    
    <div class="dashboard-grid" style="
        display: flex; 
        justify-content: center; 
        gap: 20px; 
        flex-wrap: wrap;
        margin-top: 40px;">
        <a href="{% url 'profile' %}" class="dashboard-card">Profile</a>
        <a href="{% url 'leave_request' %}" class="dashboard-card">Leave Requests    </a>
        <a href="{% url 'payroll' %}" class="dashboard-card">Pay Roll</a>
        <a href="{% url 'attendance' %}" class="dashboard-card">Attendance</a>
        <a href="{% url 'performance' %}" class="dashboard-card">Performance Reports</a>
    </div>

</div>
{% endblock %}
